<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?if $(var.Platform) = x64 ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
    <?define PlatformReleaseFolder = "ReleaseX64" ?>
  <?else ?>
    <?define Win64 = "no" ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
    <?define PlatformReleaseFolder = "Release" ?>
  <?endif ?>
  
  <?define ProductName="XESmartTarget" ?>
  <?define CompanyName="sqlconsulting.it" ?>
  <?define ProductVersion="$(var.BuildVersion)" ?>

  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.CompanyName)" UpgradeCode="AA8AB9E2-639E-4E6C-9CB9-BD842F76F0AD">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="REINSTALLMODE" Value="amus" />

    <Feature Id="ProductFeature" Title="XESmartTarget" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
    <?if $(var.Platform) = x64 ?>
      <Property Id="INSTALLFOLDER" Value="C:\Program Files\XESmartTarget" />
    <?else ?>
      <Property Id="INSTALLFOLDER" Value="C:\Program Files (x86)\XESmartTarget" />
    <?endif ?>

		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="INSTALLFOLDER" Name="XESmartTarget" />
			</Directory>
		</Directory>
	</Fragment>

</Wix>
