<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="XESMartTarget" Language="1033" Version="1.0.0.0" Manufacturer="sqlconsulting.it" UpgradeCode="AA8AB9E2-639E-4E6C-9CB9-BD842F76F0AD">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="REINSTALLMODE" Value="amus" />



    <Feature Id="ProductFeature" Title="XESmartTarget" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="XESmartTarget" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id="cmp_01" Guid="{7AEE49EC-5CFB-4085-BC34-0F0AC0300725}"><File Id="file_01" KeyPath="yes" Source="..\XESmartTarget\bin\Release\CommandLine.dll" /></Component>
        <Component Id="cmp_02" Guid="{3A85BB98-F862-4BFB-8FB6-01EEC1AA2AC0}"><File Id="file_02" KeyPath="yes" Source="..\XESmartTarget\bin\Release\CommandLine.xml" /></Component>
        <Component Id="cmp_03" Guid="{BF2E841E-218A-46C5-8006-0364646D7E95}"><File Id="file_03" KeyPath="yes" Source="..\XESmartTarget\bin\Release\Microsoft.SqlServer.XE.Core.dll" /></Component>
        <Component Id="cmp_04" Guid="{542A01A3-75EC-4F2F-8C1F-49CFF078E113}"><File Id="file_04" KeyPath="yes" Source="..\XESmartTarget\bin\Release\Microsoft.SqlServer.XEvent.Linq.dll" /></Component>
        <Component Id="cmp_05" Guid="{6E9E6E4B-2F6B-4FB1-B0A8-813801271380}"><File Id="file_05" KeyPath="yes" Source="..\XESmartTarget\bin\Release\NLog.config" /></Component>
        <Component Id="cmp_06" Guid="{43A880A8-E413-4FA9-A1E0-7DFDEFF74AB8}"><File Id="file_06" KeyPath="yes" Source="..\XESmartTarget\bin\Release\NLog.dll" /></Component>
        <Component Id="cmp_07" Guid="{C494C7D3-5796-43C8-8A9A-77BFA634B728}"><File Id="file_07" KeyPath="yes" Source="..\XESmartTarget\bin\Release\NLog.xml" /></Component>
        <Component Id="cmp_08" Guid="{B1C51D06-6563-452C-9ACC-5CD2B2C6FD57}"><File Id="file_08" KeyPath="yes" Source="..\XESmartTarget\bin\Release\XESmartTarget.Core.dll" /></Component>
        <Component Id="cmp_09" Guid="{1FB094C9-C3D3-46E0-9874-0AB700A32866}"><File Id="file_09" KeyPath="yes" Source="..\XESmartTarget\bin\Release\XESmartTarget.Core.pdb" /></Component>
        <Component Id="cmp_10" Guid="{8444CD6D-D129-46CB-99A6-0BA39AA4C81F}"><File Id="file_10" KeyPath="yes" Source="..\XESmartTarget\bin\Release\XESmartTarget.exe" /></Component>
        <Component Id="cmp_11" Guid="{638E19A5-EC2E-47D7-A333-C89558B6E9D5}"><File Id="file_11" KeyPath="yes" Source="..\XESmartTarget\bin\Release\XESmartTarget.exe.config" /></Component>
        <Component Id="cmp_12" Guid="{58961F6E-3929-4DB0-9BAA-6D0653E920C7}"><File Id="file_12" KeyPath="yes" Source="..\XESmartTarget\bin\Release\XESmartTarget.pdb" /></Component>
    </ComponentGroup>
	</Fragment>
</Wix>
